@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/angular")
    <script src="~/scripts/app/app.module.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
